				<tr>
					<td>
						<a href="/teaching/coms352-fall2020/">COM S 352 (Fall 2020)</a>
					</td>
					<td>
						<ul>
							<li>
								<a href="/teaching/coms352-fall2020/syllabus">Syllabus</a>
							</li>
							<li>
								<a href="/teaching/coms352-fall2020/staff">Staff</a>
							</li>
							<li>
								<a href="/teaching/coms352-fall2020/schedule">Schedule</a>
							</li>
							<li>
								<a href="/teaching/coms352-fall2020/projects">Projects</a>
							</li>
						</ul>
					</td>
				</tr>
